doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', data-main='/javascripts/app.js', src='/javascripts/libs/require.js')
  body
    block content