doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js")
    script(type='text/javascript', src="//s0.cdn.jituanyun.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type='text/javascript' src='/javascripts/jquery-socialshare.js')   
    script(type='text/javascript' src='/javascripts/index.js')    
    //script(type='text/javascript', data-main='/javascripts/app.js', src='/javascripts/libs/require.js')
  body
    block content