body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/***social share css****/
img {
  clip-path: url(#clipping);
  position: absolute;
  /*clip: rect(10px, 290px, 190px, 10px);*/
}


#container{

}